Chapter11/Secure Talk .NET/TalkClient/Web References/localhost/DiscoveryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="www.prosetech.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="www.prosetech.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="www.prosetech.com">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetServerDateTime">
        <s:complexType />
      </s:element>
      <s:element name="GetServerDateTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetServerDateTimeResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="publicKeyXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterNewUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="StartSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="signedLoginInfo" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StartSessionResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefreshSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefreshSessionResponse">
        <s:complexType />
      </s:element>
      <s:element name="EndSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EndSessionResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetPeerInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPeerInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPeerInfoResult" type="s0:PeerInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PeerInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PublicKeyXml" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjRef" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPeers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPeersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPeersResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </types>
  <message name="GetServerDateTimeSoapIn">
    <part name="parameters" element="s0:GetServerDateTime" />
  </message>
  <message name="GetServerDateTimeSoapOut">
    <part name="parameters" element="s0:GetServerDateTimeResponse" />
  </message>
  <message name="RegisterNewUserSoapIn">
    <part name="parameters" element="s0:RegisterNewUser" />
  </message>
  <message name="RegisterNewUserSoapOut">
    <part name="parameters" element="s0:RegisterNewUserResponse" />
  </message>
  <message name="StartSessionSoapIn">
    <part name="parameters" element="s0:StartSession" />
  </message>
  <message name="StartSessionSoapOut">
    <part name="parameters" element="s0:StartSessionResponse" />
  </message>
  <message name="RefreshSessionSoapIn">
    <part name="parameters" element="s0:RefreshSession" />
  </message>
  <message name="RefreshSessionSoapOut">
    <part name="parameters" element="s0:RefreshSessionResponse" />
  </message>
  <message name="EndSessionSoapIn">
    <part name="parameters" element="s0:EndSession" />
  </message>
  <message name="EndSessionSoapOut">
    <part name="parameters" element="s0:EndSessionResponse" />
  </message>
  <message name="GetPeerInfoSoapIn">
    <part name="parameters" element="s0:GetPeerInfo" />
  </message>
  <message name="GetPeerInfoSoapOut">
    <part name="parameters" element="s0:GetPeerInfoResponse" />
  </message>
  <message name="GetPeersSoapIn">
    <part name="parameters" element="s0:GetPeers" />
  </message>
  <message name="GetPeersSoapOut">
    <part name="parameters" element="s0:GetPeersResponse" />
  </message>
  <portType name="DiscoveryServiceSoap">
    <operation name="GetServerDateTime">
      <input message="s0:GetServerDateTimeSoapIn" />
      <output message="s0:GetServerDateTimeSoapOut" />
    </operation>
    <operation name="RegisterNewUser">
      <input message="s0:RegisterNewUserSoapIn" />
      <output message="s0:RegisterNewUserSoapOut" />
    </operation>
    <operation name="StartSession">
      <input message="s0:StartSessionSoapIn" />
      <output message="s0:StartSessionSoapOut" />
    </operation>
    <operation name="RefreshSession">
      <input message="s0:RefreshSessionSoapIn" />
      <output message="s0:RefreshSessionSoapOut" />
    </operation>
    <operation name="EndSession">
      <input message="s0:EndSessionSoapIn" />
      <output message="s0:EndSessionSoapOut" />
    </operation>
    <operation name="GetPeerInfo">
      <input message="s0:GetPeerInfoSoapIn" />
      <output message="s0:GetPeerInfoSoapOut" />
    </operation>
    <operation name="GetPeers">
      <input message="s0:GetPeersSoapIn" />
      <output message="s0:GetPeersSoapOut" />
    </operation>
  </portType>
  <binding name="DiscoveryServiceSoap" type="s0:DiscoveryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetServerDateTime">
      <soap:operation soapAction="www.prosetech.com/GetServerDateTime" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RegisterNewUser">
      <soap:operation soapAction="www.prosetech.com/RegisterNewUser" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="StartSession">
      <soap:operation soapAction="www.prosetech.com/StartSession" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RefreshSession">
      <soap:operation soapAction="www.prosetech.com/RefreshSession" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EndSession">
      <soap:operation soapAction="www.prosetech.com/EndSession" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPeerInfo">
      <soap:operation soapAction="www.prosetech.com/GetPeerInfo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPeers">
      <soap:operation soapAction="www.prosetech.com/GetPeers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DiscoveryService">
    <port name="DiscoveryServiceSoap" binding="s0:DiscoveryServiceSoap">
      <soap:address location="http://localhost/Code/P2P/Chapter11/SecureDiscovery/DiscoveryService.asmx" />
    </port>
  </service>
</definitions>